*{
    margin: 0PX;
    padding: 0PX;
    box-sizing: border-box;
}
body ,html{
    overflow-x: hidden;
}
.col{background-color:peru;
    min-height: 700px;
    width: 100%;
    
}
.one{
    background-color:rgb(192, 158, 123);
    height: 660px;
    width: 600px;
    margin-left: 200px;
    /* margin-top: 80px; */
    border-radius: 20px;
}
.mb-3{
    text-align: center;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#name{
    width: 400px;
     margin-left: 100px;
     opacity: 0.8;
     border-radius: 10px;
}
#lastname{
    width: 400px;
    margin-left: 100px;
    opacity: 0.8;
    border-radius: 10px;
}
#exampleInputEmail1{
    width: 400px;
    margin-left: 100px;
    opacity: 0.8;
    border-radius: 10px;
}
#phone{
    width: 400px;
    margin-left: 100px;
    opacity: 0.8;
    border-radius: 10px;
}
#department{
    width: 400px;
    margin-left: 100px;
    opacity: 0.8;
    border-radius: 10px;
}

#years{
    width: 400px;
    margin-left: 100px;
    opacity: 0.8;
    border-radius: 10px;
}

.btnn{
    margin-left: 260px;
   
    background-color: peru;
    
    text-align: center;
   
} 